<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <!-- MongoDB Core Launching -->
  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
        id="fr.opensagres.mongodb.ide.launching.core.launchConfigurationType"
        name="%mongoDBLaunchConfigurationType"
        delegate="fr.opensagres.mongodb.ide.launching.internal.MongoDBLaunchConfigurationDelegate"
        modes="run, debug, profile"
        sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
        sourcePathComputerId="org.eclipse.jst.server.jetty.core.sourcePathComputer"/>
  </extension>
  
  <!-- MongoDB UI Launching -->
	
  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
      id="fr.opensagres.mongodb.ide.ui.launching.launchConfigurationTypeImage"
      configTypeID="fr.opensagres.mongodb.ide.launching.core.launchConfigurationType"
      icon="icons/obj16/mongo.png">
    </launchConfigurationTypeImage>
  </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
      id="fr.opensagres.mongodb.ide.launching.ui.launchConfigurationTabGroup"
      type="fr.opensagres.mongodb.ide.launching.core.launchConfigurationType"
      class="fr.opensagres.mongodb.ide.launching.internal.MongoDBLaunchConfigurationTabGroup">
    </launchConfigurationTabGroup>
  </extension>   

</plugin>
